@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Syne", sans-serif;
}
